HELP.md
backend/target/
.mvn/wrapper/maven-wrapper.jar
!app-service/src/main/**/target/
!app-service/src/test/**/target/
docker-compose/alertmanager.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!app-service/src/main/**/build/
!app-service/src/test/**/build/

### VS Code ###
.vscode/
.env
/docker-compose/axon-config/
/docker-compose/axon-data/
/docker-compose/axon-events/
